
.titulo{
    color: red;
    font-size: 24px;
    
}
h1{
    display: inline-block;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
}

input{
    display: inline-block;
    margin: 5px;
    max-width: 200px;
}
